.board {
  background-color: #f2f2f2;
  width: 600px;
  height: 600px;
}

.button {
  width: 100px; /* ボタンの幅を変更 */
  height: 100px; /* ボタンの高さを変更 */
  font-size: 24px;
  margin: 5px;
  background-image: linear-gradient(90deg, rgb(196, 190, 190), rgb(3, 1, 1));
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
